<!DOCTYPE html>
<html>
<head>

  <title>Lower Third</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link href="./css/styles.css" rel="stylesheet">

  <script src="./assets/anime.min.js"></script>
  <script type="text/javascript" src = 'options.json'></script>

</head>

<body>

    <div class = "vba-area">
        <canvas></canvas>
    </div>
    
    <div id="vba-buttons" style="display: block; position: fixed; right: 100px; top: 50px;">
      <button type="button" onclick="animationPlayToggle(); return false;">
        Replay
      </button>
      <button type="button" onclick="animationPlay(); return false;">
        Play
      </button>
      <button type="button" onclick="animationPause(); return false;">
        Pause
      </button>
    </div>    

<script>

	var data;    
	var rectWidth = 915 , rectHeight = 150, cornerRadius = 30, lineWidth = 4, lines=[],wholeLength;
	var animDuration, textAnimDuration, Delay;
	var titlefontsize, descfontsize, title, desc, titlefont, descfont, textcolors=[];

    var rectObj1,rectObj;
    var titletext,desctext;

    var colors = [
        '#e9b642', // set title text and main line color
        '#ffffff', // set second line color and description text color
    ];

    var rectX = 100, rectY = 500, lineSpacing = 10, marginTop = 20, marginLeft = 30, textAnimStartingPoint = -1000;
    
    var canvasEl, ctx, timeline;

    if (window.XMLHttpRequest) {
        request = new XMLHttpRequest();
    } else {
        request =  ActiveXObject("Microsoft.XMLHTTP");
    }
    request.open("GET", "options.json");
    request.onreadystatechange = function() {
	    if ((request.readyState == 4) && (request.status===200)) {
	        var JSON_data = JSON.parse(request.responseText);
	        
	        data = JSON_data[0];
	        document.title = data.caption;
	    	setOptions(data);
	    	initObjects();
	    	initTimeline();
	    }
	}

	request.send(null);

  	canvasEl = document.querySelector('canvas');
    ctx = canvasEl.getContext('2d');

    function setCanvasSize() {
        canvasEl.width = canvasEl.parentNode.offsetWidth;
        canvasEl.height = canvasEl.parentNode.offsetHeight;
        canvasEl.style.width = canvasEl.parentNode.offsetWidth + 'px';
        canvasEl.style.height = canvasEl.parentNode.offsetHeight + 'px';
    }

    function setOptions(options){

		title = data.options[0][0].value;
		desc = data.options[1][0].value;

	    textcolors.push(data.options[0][1].value);
		textcolors.push(data.options[1][1].value);		

		animDuration = data.duration;
		textAnimDuration = animDuration;
		Delay = data.delay;

		titlefontsize = parseInt(data.options[0][2].value);
		descfontsize = parseInt(data.options[1][2].value);

		wholeLength = 2 * (rectWidth + rectHeight + Math.PI * cornerRadius - cornerRadius * 4);

	    lines.push({x: rectX + rectWidth,y: rectY + rectHeight / 2, status: 0, len: rectHeight / 2 - cornerRadius});
	    lines.push({x: rectX + rectWidth,y: rectY + rectHeight - cornerRadius, status: 1, len: Math.PI * cornerRadius / 2});
	    lines.push({x: rectX + rectWidth - cornerRadius, y: rectY + rectHeight, status: 0, len: rectWidth - cornerRadius * 2});
	    lines.push({x: rectX + cornerRadius, y:rectY + rectHeight, status: 1, len: Math.PI * cornerRadius / 2});
	    lines.push({x: rectX, y: rectY + rectHeight - cornerRadius, status: 0, len: rectHeight - 2 * cornerRadius});
	    lines.push({x: rectX, y: rectY + cornerRadius, status: 1, len: Math.PI * cornerRadius / 2});
	    lines.push({x: rectX + cornerRadius, y: rectY, status:0, len: rectWidth - 2 * cornerRadius});
	    lines.push({x: rectX + rectWidth-cornerRadius, y: rectY, status: 1, len: Math.PI * cornerRadius / 2});
	    lines.push({x: rectX + rectWidth, y: rectY + cornerRadius, status: 0, len: rectHeight / 2 - cornerRadius});
    }

    function initObjects(){

	    rectObj = createRect(rectX, rectY, rectWidth, rectHeight, cornerRadius,lineWidth, 0);
	    rectObj1 = createRect(rectX, rectY, rectWidth, rectHeight, cornerRadius,lineWidth, 1);
	    titletext = createText(title,textAnimStartingPoint, rectY + marginTop, titlefontsize,titlefont,0);
		desctext = createText(desc,textAnimStartingPoint, rectY + marginTop + titlefontsize + lineSpacing, descfontsize,descfont,1);
    }

    function createRect(rectX, rectY, rectWidth, rectHeight, cornerRadius, linewidth){
        
        var p = {};
        p.routeProgress = 0;
        p.colorDiff = 500;

        p.draw = function(arc){

            var tlen = 0;
            clearCorner();

            drawing(arc, 0);
            drawing(arc-p.colorDiff, 1);

        };
        return p;
    }

    function createText(text, x, y, fontSize, font, textcolor){

        var p = {};
        p.x = x;
        p.y = y;
        p.fontSize = fontSize;
        p.fillStyle = textcolors[textcolor];
        p.draw = function() {
            ctx.textBaseline = 'top';
            ctx.clearRect(rectX + 2 * lineWidth / 3, p.y, rectWidth - lineWidth - marginLeft, p.fontSize * 1.2);
            ctx.font = 'italic bold ' + p.fontSize + 'px Arial';
            ctx.fillStyle = textcolors[textcolor];
            ctx.textAlign = 'left';
            ctx.fillStyle = 'italic';
            ctx.fillText(text, p.x, p.y);
            ctx.clearRect(0, rectY, rectX - lineWidth / 2, rectHeight);
        };
        return p;
    }

    function clearCorner(){
        ctx.clearRect(rectX, rectY - cornerRadius, rectWidth , 2 * cornerRadius);
        ctx.clearRect(rectX + rectWidth - lineWidth / 2, rectY, lineWidth * 2, rectHeight);
        ctx.clearRect(rectX, rectY + rectHeight - cornerRadius, rectWidth, 2 * cornerRadius);
        ctx.clearRect(rectX - lineWidth / 2, rectY, lineWidth+1, rectHeight);
    }

    function drawing(arc, lineColor){
            
        i = 0;
        var tlen = 0;

        ctx.beginPath();
        ctx.moveTo(rectX+rectWidth,rectY+rectHeight/2);

        while (i < lines.length && arc >= tlen)
        {
            tlen += lines[i].len;
            
            if( arc > tlen )
            {
                if(lines[i].status==0){
                    var endPoint = (i + 1) % 8;
                    ctx.lineTo(lines[endPoint].x, lines[endPoint].y);
                }
                else{
                    switch(i){
                        case 1:
                            ctx.arcTo(rectX + rectWidth, rectY + rectHeight, rectX + rectWidth - cornerRadius, rectY + rectHeight, cornerRadius);
                            break;
                        case 3:
                            ctx.arcTo(rectX, rectY + rectHeight, rectX, rectY + rectHeight-cornerRadius, cornerRadius);
                            break;
                        case 5:
                            ctx.arcTo(rectX, rectY, rectX + cornerRadius, rectY, cornerRadius);
                            break;
                        case 7:
                            ctx.arcTo(rectX + rectWidth, rectY, rectX + rectWidth, rectY + cornerRadius, cornerRadius);
                            break;
                        default:
                            break;
                    }
                }
            }
            else {
                routeProgress = lines[i].len - (tlen - arc);

                if(lines[i].status == 1){
                    var radian = routeProgress/cornerRadius; 
                    switch(i){
                        case 1:
                            ctx.arc(rectX + rectWidth - cornerRadius, rectHeight + rectY - cornerRadius, cornerRadius, 0, radian);
                            break;
                        case 3:
                            ctx.arc(rectX + cornerRadius, rectY + rectHeight - cornerRadius, cornerRadius, Math.PI/2, Math.PI/2 + radian);
                            break;
                        case 5:
                            ctx.arc(rectX + cornerRadius, rectY + cornerRadius, cornerRadius, Math.PI, Math.PI + radian);
                            break;
                        case 7:
                            ctx.arc(rectX + rectWidth - cornerRadius, rectY + cornerRadius,cornerRadius, Math.PI * 1.5, 1.5 * Math.PI + radian);
                            break;
                        default:
                            break;
                    }                    
                }
                else{
                    switch(i){
                        case 0:
                            ctx.lineTo(rectX + rectWidth, rectHeight/2 + rectY + routeProgress);
                            break;
                        case 2:
                            ctx.lineTo(rectX + rectWidth - cornerRadius - routeProgress, rectY + rectHeight);
                            break;
                        case 4:
                            ctx.lineTo(rectX, rectY + rectHeight - cornerRadius - routeProgress);
                            break;
                        case 6:
                            ctx.lineTo(rectX + cornerRadius + routeProgress, rectY);
                            break;
                        case 8:
                            ctx.lineTo(rectX + rectWidth, rectY + cornerRadius + routeProgress);
                            break;
                        default:
                            break;                                                                        
                    }
                }
            }
            ctx.lineWidth = lineWidth;
            ctx.strokeStyle = colors[lineColor];
            ctx.stroke();  
            i++;
        }
    }

    function renderParticule(anim) {
        for (var i = 0; i < anim.animatables.length; i++) {
            var animation = anim.animatables[i].target;
            animation.draw(animation.routeProgress);            
        }        
    }

    var mainOptions = {
        isPaused: false,
        isRendering: false
    };

    setCanvasSize();

    function initTimeline(){

	    timeline = anime.timeline({
	        loop: false,
	        autoplay: true,
	    });


		timeline.add({
	        targets: rectObj,
	        duration: animDuration,
	        routeProgress: wholeLength,
	        colorDiff: 0,
	        easing: 'easeInOutSine',
	        update: renderParticule,
	        offset: 0
      	})
	    .add({
	        targets: titletext,
	        x:[textAnimStartingPoint, rectX + marginLeft],
	        duration: textAnimDuration,
	        easing: 'easeInOutExpo',
	        update: renderParticule,
	        offset: 0
	    })
	    .add({
	        targets: desctext,
	        x: [textAnimStartingPoint, rectX + marginLeft],
	        duration: textAnimDuration,
	        easing: "easeInOutQuad",
	        update: renderParticule,
	        offset: 0,
	        complete: function(anim) {
	            timeline.reverse();
	            mainOptions.isPaused = true;
	            setTimeout(function(){
	                mainOptions.isPaused = false;
	                timeline.play();
	            }, Delay);
	        }        
	    });
	}

    var animationPlayToggle = function(){
        timeline.restart();
    };

    var animationPlay = function(){
        if( mainOptions.isPaused ){
            return;
        }
        timeline.play();
    };

    var animationPause = function(){
        if( mainOptions.isPaused ){
            return;
        }
        timeline.pause();
    };	    	

  </script>
</body>
</html>
